@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */
input[type="radio"]:checked {
  accent-color: #d5172a;
}

.default-input-visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.ais-SearchBox-reset {
  display: none !important;
}
